textarea{
  padding: 10px;
  outline-color: rgb(0, 155, 226);
  border-color: #ffffff;
  border-right: 0;
  border-left: solid gray 2px;
}

.jumbotron{
  padding: 25px;
  border-bottom: black solid 10px;
}

.hour-display{
  border-top: black dashed 1px;
  text-align: right;
}

.save-btn{
  background-color: rgb(0, 155, 226);
  color: #ffffff;
  border: solid #ffffff 1px;
  border-left: none;
}

.past{
  background-color: lightgray;
}

.present{
  background-color: rgb(240, 101, 101);
}

.future{
  background-color: lightgreen;
}